<nav id="svg-context-menu" class="context-menu" ng-show="statediagram.menu.context.isOpen"
     ng-attr-style="top:{{statediagram.menu.context.position.y}}px;left:{{statediagram.menu.context.position.x}}px">
    <ul class="context-menu__items">
        <li class="context-add-state"
            ng-click="states.menu.edit.open(states.createWithPresets(statediagram.menu.context.addStateX,statediagram.menu.context.addStateY )); statediagram.menu.context.close()">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-plus-circle"></span>
                <span class="context-menu-text">{{"CONTEXT.ADD_STATE"| translate}}</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
    </ul>
</nav>

<nav id="state-context-menu" class="context-menu" ng-show="states.menu.context.isOpen"
     ng-attr-style="top:{{states.menu.context.position.y}}px;left:{{states.menu.context.position.x}}px">

    <ul class="context-menu__items">
        <li class="context-add-state"
            ng-click="states.remove(states.selected); states.menu.context.close()">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text"> {{"CONTEXT.REMOVE_STATE" | translate}}</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="states.changeStartState(states.selected); states.menu.context.close()"
            ng-show="states.startState !== states.selected">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">{{"CONTEXT.REMOVE_FROM_START_STATE" | translate}}</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="states.removeStartState(); states.menu.context.close()"
            ng-show="states.startState === states.selected">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">{{"CONTEXT.ADD_AS_START_STATE" | translate}}</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="states.final.create(states.selected); states.menu.context.close()"
            ng-show="!states.final.isFinalState(states.selected)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">{{"CONTEXT.ADD_TO_FINAL_STATES" | translate}}</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="states.final.remove(states.selected); states.menu.context.close()"
            ng-show="states.final.isFinalState(states.selected)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">{{"CONTEXT.REMOVE_FROM_FINAL_STATES" | translate}}</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="statediagram.createTransition(states.selected) ; states.menu.context.close(true)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-plus-circle"></span>
                <span class="context-menu-text">{{"CONTEXT.ADD_TRANSITION" | translate}}</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
    </ul>
</nav>