<menuitem titlename="DIA_SET.TITLE" ng-show="!states.menu.edit.isOpen && !transitions.menu.edit.isOpen">
    <p class="right-indextab-subtitle">
        {{'DIA_SET.VIEW' | translate}}
    </p>
    <p>
        <input class="checkbox-item" type="checkbox" id="statediagram-isGrid" ng-model="statediagram.grid.isOpen">
        {{"DIA_SET.GRID" | translate}}
    </p>
    <p>
        <input class="checkbox-item" type="checkbox" id="statediagram-snapping" ng-model="statediagram.grid.snapping">
        {{"DIA_SET.SNAPPING" | translate}}
    </p>
</menuitem>