<menuitemextendable titlename="SIM.TITLE" id="simulation-tab">
    <div class="sim-buttons">
        <menubutton icon="play" action="simulator.playOrPause()" tttext="SIM.PLAY"
                    ng-disabled="simulator.animatedSequence !== null"
                    ng-hide="simulator.isInPlay"></menubutton>
        <menubutton icon="pause" action="simulator.playOrPause()" tttext="SIM.PAUSE"
                    ng-hide="!simulator.isInPlay"></menubutton>
        <menubutton icon="stop" action="simulator.stop()" ng-disabled="!simulator.isInAnimation"
                    tttext="SIM.STOP"></menubutton>
        <menubutton icon="fast-backward" action="simulator.stepBackwardWrapper()"
                    ng-disabled="!simulator.isInAnimation || simulator.animatedSequence !== null"
                    tttext="SIM.STEPBACKWARD"></menubutton>
        <menubutton icon="fast-forward" action="simulator.stepForwardWrapper()"
                    ng-disabled="simulator.status =='notAccepted' || simulator.status=='accepted' || simulator.animatedSequence !== null"
                    tttext="SIM.STEPFORWARD"></menubutton>
    </div>
    <div class="input-group" ng-show="!simulator.isInAnimation  || simulator.animatedSequence !== null">
        <span class="input-group-addon" aria-hidden="true">{{"SIM.INPUT" | translate}}</span>
        <input class="inputWord form-control" ng-model="automatonData.inputWord" ng-change="simulator.updateFunction()"
               ng-disabled="simulator.isInAnimation"/>
        <span class="input-group-addon icon-times red sim-input-not-accepted" aria-hidden="true"
              ng-show="!simulator.isInputWordAccepted(automatonData.inputWord)"></span>
        <span class="input-group-addon icon-check green" aria-hidden="true"
              ng-show="simulator.isInputWordAccepted(automatonData.inputWord)"></span>
    </div>
    <div ng-show="simulator.isInAnimation && simulator.animatedSequence == null">
        <div class="sim-char-item" ng-repeat="value in automatonData.inputWord track by $index"
             ng-class="{'pass-class':$index < simulator.currentPosition,'unknown-class':$index==simulator.currentPosition &&
              simulator.animated.transition !== null,'fail-class':$index==simulator.currentPosition && simulator.status =='notAccepted'}">
            <div class="index">{{$index}}</div>
            {{value}}
        </div>
        <div style="clear:both"></div>
    </div>
</menuitemextendable>