<div>

    <h3 class="bot-title">{{"STF.TITLE" | translate}}</h3>
    <div class="stf-element" uib-tooltip="{{ 'STF.TTSTATES' | translate}}" tooltip-placement="right">
        S = {
        <span ng-repeat="state in states track by $index">
            <span ng-class="{selected:state === states.selected ,
                    'animated-currentstate':state === simulator.animated.currentState,
                    'animated-accepted':state === simulator.animated.currentState&& simulator.status == 'accepted',
                    'animated-not-accepted':state === simulator.animated.currentState&& simulator.status == 'notAccepted'}">
                {{state.name}}
            </span>
            {{$last ? ' ' : ', '}}
        </span>
        }
    </div>
    <div class="stf-element" uib-tooltip="{{ 'STF.TTSIGMA' | translate}}" tooltip-placement="right">
        &Sigma; = {
        <span ng-repeat="inputSymbol in transitions.inputSymbolAlphabet">
            {{inputSymbol}}
            {{$last ? ' ' : ', '}}
        </span>
        }
    </div>
    <div ng-show="automatonData.type=='PDA'">
        <div class="stf-element" uib-tooltip="{{ 'STF.TTSTATES' | translate}}" tooltip-placement="right">
            Γ = {
            <span ng-repeat="stackSymbol in transitions.stackAlphabet">
                {{stackSymbol}}{{$last ? ' ' : ', '}}
            </span>
            }
        </div>
    </div>
    <div ng-show="automatonData.type!=='PDA' && automatonData.type!=='NPDA'" class="stf-element"
         uib-tooltip="{{ 'STF.TTSTF' | translate}}" tooltip-placement="right">
        &delta; = {
        <span ng-repeat="transitionGroup in transitions | orderBy: 'fromState.name'">
        <span ng-repeat="transition in transitionGroup| orderBy: 'inputSymbol'">
            <span ng-class="{selected:transitionGroup === transitions.selected,'animated-transition':transition ===simulator.animated.transition }">
                ({{transition.fromState.name}}, {{transition.inputSymbol}}, {{transition.toState.name}})
            </span>
            {{$last ? ' ' : ', '}}
        </span>
            {{$last ? ' ' : ', '}}
        </span>
        }
    </div>
    <div ng-show="automatonData.type==='PDA' || automatonData.type==='NPDA'" class="stf-element"
         uib-tooltip="{{ 'STF.TTSTF' | translate}}" tooltip-placement="right">
        &delta; = {
        <span ng-repeat="transitionGroup in transitions | orderBy: 'fromState.name'">
            <span ng-repeat="transition in transitionGroup| orderBy: 'inputSymbol'">
                <span ng-class="{selected:transitionGroup === transitions.selected,'animated-transition':transition ===simulator.animated.transition }">
                    ({{transition.fromState.name}}, {{transition.inputSymbol}}, {{transition.readFromStack}}, {{transition.toState.name}}, {{transition.writeToStack}} )
                </span>
                {{$last ? '' : ', '}}
            </span>
            {{$last ? ' ' : ', '}}
        </span>
        }
    </div>
    <div ng-show="automatonData.type!=='PDA'">
        <div class="stf-element" uib-tooltip="{{ 'STF.TTFINAL' | translate}}" tooltip-placement="right">
            {{"STF.F" | translate}} = {
            <span ng-repeat="finalState in states.final">
                {{finalState.name}}{{$last ? '' : ', '}}
            </span>
            }
        </div>
    </div>
    <div class="stf-element" uib-tooltip="{{ 'STF.TTSTART' | translate}}" tooltip-placement="right">
        S<sub>0</sub>= {{states.startState.name}}
    </div>
</div>