<div>
	<h5>Folgende Icons verwenden wir bei der Animation:<h5>

		<table class="table">
			<thead>
				<tr>
					<th>Icon</th>
					<th>Verwendung</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-play" aria-hidden="true">
						</span>
					</th>
					<td>
						Um die Animation zu starten wird das klassische Play-Icon verwendet.
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-pause" aria-hidden="true">
						</span>
					</th>
					<td>
						Um die Animation zu pausieren wird das klassische Pausieren-Icon verwendet.
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-stop" aria-hidden="true">
						</span>
					</th>
					<td>
						Um die Animation zu stoppen wird das klassische Stop-Icon verwendet. 
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-step-backward" aria-hidden="true">
						</span>
						<span class="glyphicon glyphicon-step-forward" aria-hidden="true">
						</span>
						OR:
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
						</span>
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
						</span>
						OR:
					</th>
					<td>
						Um bei der Animation auf den nächsten, oder vorherigen Scritt zu gelangen verwenden wir folgende bekannte Icons.
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
					</th>
					<td>
						Wenn dieses Icon aktivier wird, dann wiederholt sich die Animation automatisch nachdem sie beendet wurde.
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</th>
					<td>
						Dieses Symbol wird bei der Animationsgeschwindigkeit verwendet
					</td>
				</tr>
			</tr>
		</tbody>
	</table><h5>Folgende Icons verwenden wir in der UI<h5>

	<table class="table">
		<thead>
			<tr>
				<th>Icon</th>
				<th>Verwendung</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">
					<span class="glyphicon glyphicon-collapse-up" aria-hidden="true">
					</span>
					<span class="glyphicon glyphicon-collapse-down" aria-hidden="true">
					</span>
					OR:
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">
					</span>
					<span class="glyphicon glyphicon-triangle-top" aria-hidden="true">
					</span>
					OR:
					<span class="glyphicon glyphicon-menu-down" aria-hidden="true">
					</span>
					<span class="glyphicon glyphicon-menu-up" aria-hidden="true">
					</span>
					OR:
					<span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
					</span>
					<span class="glyphicon glyphicon-chevron-up" aria-hidden="true">
					</span>
				</th>
				<td>
					Zum Einfahren & Ausfahren eines Elements.
				</td>
			</tr>
			<tr>

				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-cog" aria-hidden="true">
						</span>
					</th>
					<td>
						Link für die Einstellungen
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-th-large" aria-hidden="true">
						</span>
					</th>
					<td>
						Verweis für das Menü
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="glyphicon glyphicon-hourglass" aria-hidden="true">
						</span>
					</th>
					<td>
						Bei Ladezeiten?
					</td>
				</tr>
			</tr>
		</tbody>
	</table>