<div class="col-md-12">
    <h3>Simulation</h3>
    <button type="button" class="btn btn-default btn-play-or-pause" ng-click="simulator.playOrPause()" aria-label="Left Align">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="simulator.stop()" aria-label="Left Align">
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="simulator.stepBackward()" aria-label="Left Align">
        <span class="glyphicon glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="simulator.stepForward()" aria-label="Left Align">
        <span class="glyphicon glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    Input:
    <input class="inputWord" ng-model="inputWord" />
    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> |
    <button type="button" class="btn btn-default" ng-click="export()" aria-label="Left Align">
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default import" aria-label="Left Align">
        <input type="file" id="hidden-file-upload">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="removeConfig()" aria-label="Left Align">
        <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    |
    <button type="button" class="btn btn-default" ng-click="testData.testDFA()" aria-label="Left Align">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </button>
</div>
<div class="automataWrapper col-md-12">
    <div class="col-md-12">
        <h3>Zustandsdiagramm</h3>
        <div id="diagramm">
            <div id="diagramm-buttons">
                <button type="button" class="btn btn-default" ng-click="graphdesigner.addState()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="graphdesigner.addTransition()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="graphdesigner.delete()" aria-label="Left Align">
                    <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                                <button type="button" class="btn btn-default" ng-click="graphdesigner.rescale()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                </button>
            </div>
            <svg id="diagramm-svg">
            </svg>
            <div id="state-context">ASD</div>
        </div>
        <div class="pop-up-background">
            <div id="stateContext">
                <div class="pop-up-content">
                    <div class="close">CLOSE</div>
                    <div class="pop-up-main-content">
                        <div id="stateContextContent" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Zustandstabelle</h3>
    </div>
    <div class="col-md-6">
        <h3>Zustandsüberführungsfunktion</h3>
        <p>&Sigma; = {
            <input ng-model="statetransitionfunction.functionData.transitions" />}
        </p>
        <p>S = {
            <input ng-model="statetransitionfunction.functionData.states" />}
        </p>
        <p>&delta; = {
            <textarea class="statetransitionfunction" rows="1" ng-model="statetransitionfunction.functionData.statetransitionfunction"> </textarea>}
        </p>
        <p>S<sub>0</sub>= {
            <input ng-model="statetransitionfunction.functionData.startState" />}
        </p>
        <p>F = {
            <input ng-model="statetransitionfunction.functionData.finalStates" />}
        </p>
    </div>
