<div class="col-md-12">
    <button type="button" class="btn btn-default btn-play-or-pause" ng-click="simulator.playOrPause()" aria-label="Left Align">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="simulator.stop()" aria-label="Left Align">
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="simulator.stepBackward()" aria-label="Left Align">
        <span class="glyphicon glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click=" simulator.stepForward()" aria-label="Left Align ">
        <span class="glyphicon glyphicon glyphicon-fast-forward " aria-hidden="true "></span>
    </button>
    <button type="button " class="btn btn-default " ng-click="simulator.simulationSettings = !simulator.simulationSettings" aria-label="Left Align">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    Input:
    <input class="inputWord" ng-model="inputWord" />
    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> |
    <button type="button" class="btn btn-default" ng-click="export()" aria-label="Left Align">
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default import" aria-label="Left Align">
        <input type="file" id="hidden-file-upload">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="removeConfig()" aria-label="Left Align">
        <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    |
    <button type="button" class="btn btn-default" ng-click="testData.testDFA()" aria-label="Left Align">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </button>
</div>
<div class="col-md-12" ng-show="simulator.simulationSettings">
    <p> Loop:
        <input id="simulator-settings-input-loop" type="checkbox" ng-model="simulator.loopSimulation">
    </p>
    <p> StepTimeOut:
        <input id="simulator-settings-input-loop" ng-model="simulator.stepTimeOut">
    </p>
    <p>Looptimeout
        <input id="simulator-settings-input-loop" ng-model="simulator.loopTimeOut">
    </p>
</div>
<div class="automataWrapper col-md-12">
    <div class="col-md-12">
        <h3>Zustandsdiagramm</h3>
        <div id="diagramm">
            <div id="diagramm-buttons">
                <button type="button" class="btn btn-default" ng-click="graphdesigner.addStateEventListener()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="graphdesigner.addTransitionEventListener()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="graphdesigner.removeEventListener()" aria-label="Left Align">
                    <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="graphdesigner.drawGrid()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="graphdesigner.rescale()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                </button>
            </div>
            <svg id="diagramm-svg">
            </svg>
            <div id="state-context" ng-show="graphdesigner.showStateContext">
                <h2>State</h2>
                <p> Name:
                    <input id="state-input-name" ng-model="graphdesigner.input.stateName">
                </p>
                <p>StartState:
                    <input type="checkbox" id="state-input-startstate" ng-model="graphdesigner.input.startState">
                </p>
                </p>
                <p>FinalState:
                    <input type="checkbox" id="state-input-finalstate" ng-model="graphdesigner.input.finalState">
                </p>
                <button type="button" class="btn btn-default" ng-click="graphdesigner.saveState()" aria-label="Left Align">
                    SAVE
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Zustandstabelle</h3>
    </div>
    <div class="col-md-6">
        <h3>Zustandsüberführungsfunktion</h3>
        <p>&Sigma; = { {{statetransitionfunction.functionData.transitions}} }</p>
        <p>S = { {{statetransitionfunction.functionData.states}} }</p>
        <p>&delta; = {
            <p ng-repeat="x in statetransitionfunction.functionData.statetransitionfunction">{{x}}</p> &#125;</p>
        <p>S<sub>0</sub>= { {{statetransitionfunction.functionData.startState}} }</p>
        <p>F = { {{statetransitionfunction.functionData.finalStates}} }</p>
    </div>
