<modal></modal>
<div class="top-nav">
    <div class="automata-simulation-logo"><img src="images/logo_automaten.png">
    </div>
    <automaton-name></automaton-name>
    <div class=" unsaved-changes">
        <span class="alert alert-info" ng-show="config.unSavedChanges">{{"APP.UNSAVEDCHANGES" | translate}}</span>
    </div>
    <div class="th-koeln-logo"><img src="images/th-koeln-logo.png">
    </div>
</div>
<top-menu></top-menu>

<div class=" left-menu">
    <simulation></simulation>
    <bulk-test></bulk-test>
    <simulation-settings></simulation-settings>
    <develop></develop>
</div>

<div class="mid-wrapper">
    <own-svg></own-svg>
    <div class="bot-content-wrapper">
        <div class="bot-content bot-left">
            <h3 class=" bot-title">{{"TABLE.TITLE" | translate}}</h3>
            <own-table></own-table>
        </div>

        <div class="bot-content bot-right">
            <state-transition-function></state-transition-function>
        </div>
    </div>
</div>
<div class="right-menu">
    <!--Diagram Settings -->
    <settings></settings>
    <!--State Menu -->
    <state-menu></state-menu>
    <!--Transition Menu -->
    <transition-menu></transition-menu>
    <credits></credits>
</div>