<div class="col-md-12">
	<h3>Übersicht</h3>
	<button type="button" class="btn btn-default" ng-click="run()" aria-label="Left Align">
		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-default" ng-click="reset()" aria-label="Left Align">
		<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-default" ng-click="undo()" aria-label="Left Align">
		<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-default" ng-click="step()" aria-label="Left Align">
		<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	</button>
  <h3>Eingabe:</h3>
  <input ng-model="inputWord"/>
</div>
<div class="col-md-12">
	<h3>Zustandsdiagramm</h3>
  <textarea ng-model="automaton.statusSequence" cols="40" disabled="true"/>
  <input ng-model="automaton.status"/>
</div>
<div class="col-md-6">
	<h3>Zustandstabelle</h3>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>0</th>
				<th>1</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">S</th>
				<td>A</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">A</th>
				<td>B</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">B</th>
				<td>A</td>
				<td></td>

			</tr>
		</tbody>
	</table>
</div>
<div class="col-md-6">
	<h3>Zustandsüberführungsfunktion</h3>
</div>
<div class="col-md-6">
	<h3>asd</h3>
</div>
