#diagramm {
  border: 1px solid #000; }

.node {
  cursor: context-menu; }

.node:hover .node-circle {
  fill: #600; }

.node:active .node-circle {
  fill: #F00; }

.node-circle {
  fill: #CCC;
  stroke: #666;
  stroke-width: 1; }

.node-text {
  font-size: 15px; }

.transition {
  cursor: context-menu; }

.transition-line {
  stroke: #000;
  stroke-width: 2; }
