#diagramm {
  border: 1px solid #000; }

.draggable {
  cursor: move; }

.node:hover .node-circle {
  fill: #A00; }

.node {
  cursor: context-menu; }

.node-circle {
  fill: #CCC;
  stroke: #666;
  stroke-width: 1; }

.node-text {
  font-size: 15px; }

.transition {
  cursor: context-menu; }
