body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

p {
  text-align: center;
  overflow: overlay;
  position: relative; }

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f8f8f8; }

#toolbox {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1em;
  z-index: 5; }

#toolbox input {
  width: 30px;
  opacity: 0.4; }

#toolbox input:hover {
  opacity: 1;
  cursor: pointer; }

#hidden-file-upload {
  display: none; }

#download-input {
  margin: 0 0.5em; }

.conceptG text {
  pointer-events: none; }

marker {
  fill: #333; }

g.conceptG circle {
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px; }

g.conceptG:hover circle {
  fill: #c8eef1; }

g.selected circle {
  fill: #fae8ff; }

g.selected:hover circle {
  fill: #fae8ff; }

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  cursor: default; }

path.link:hover {
  stroke: #5ec4cc; }

g.connect-node circle {
  fill: #BEFFFF; }

path.link.hidden {
  stroke-width: 0; }

path.link.selected {
  stroke: #e5acf7; }

#diagramm {
  border: 1px solid #000; }
