<div class="container-wrapper">
    <div class="title">{{"DIA.TITLE" | translate}}</div>
    <div class="svg-controls">
        <div class="button-group">
            <zoom-tooltip></zoom-tooltip>
        </div>
        <div class="button-group">
            <menubutton icon="search-plus" action="statediagram.zoom.zoomIn()"
                        tttext="NAVBAR.TTTEXT_ZOOM_IN"></menubutton>
            <menubutton icon="search-minus" action="statediagram.zoom.zoomOut()"
                        tttext="NAVBAR.TTTEXT_ZOOM_OUT"></menubutton>
        </div>
        <div class="button-group">
            <menubutton icon="plus-circle" action="statediagram.createState()" ng-disabled="simulator.isInPlay"
                        tttext="NAVBAR.TTTEXT_ADDSTATE"></menubutton>
            <menubutton icon=" long-arrow-right" action="statediagram.createTransition()"
                        ng-disabled="simulator.isInPlay"
                        tttext="NAVBAR.TTTEXT_ADDTRANS"></menubutton>
        </div>
    </div>
    <div id="diagram-container" class="container-wrapper diagram-container">
        <svg id="diagram-svg" class="noselect" xmlns="http://www.w3.org/2000/svg"
             style="font-family:'Roboto', sans-serif; font-weight:100">
            <svg-grid></svg-grid>
            <svg-definitions></svg-definitions>
            <svg-outer>
                <g id="transitions">
                    <svg-transition ng-repeat="data in transitions"
                                    transition-group="data"></svg-transition>
                </g>
                <svg-tmp-transition></svg-tmp-transition>

                <g id="states">
                    <svg-state ng-repeat="state in states" state="state"></svg-state>
                </g>

            </svg-outer>
            <g id="zoom"></g>
            <svg-pda-stack ng-show="automatonData.type=== 'PDA' || automatonData.type ==='NPDA'"></svg-pda-stack>
            <svg-tm-tape ng-show="automatonData.type === 'TM'"></svg-tm-tape>
        </svg>
        <context-menu></context-menu>
    </div>
</div>
