<div class="full-wrapper">
    <div class="flex-item header">
        <app-menu>
            <automaton-name></automaton-name>
            <unsaved-changes></unsaved-changes>
        </app-menu>
    </div>
    <div class="flex-item  inner-wrapper">

        <div class="main main-wrapper">
            <div class="main-item layout-item container-wrapper">
                <own-svg></own-svg>
            </div>
            <div class="main-bottom">
                <div class="layout-item container-wrapper">
                    <state-transition-function></state-transition-function>
                </div>

            </div>
        </div>
        <aside class="sidebar sidebar-1 container-item layout-item">
            <simulation></simulation>
            <bulk-test></bulk-test>
            <simulation-settings></simulation-settings>
            <develop></develop>
        </aside>
        <aside class="sidebar sidebar-2 container-item layout-item">    <!--Diagram Settings -->
            <settings></settings>
            <!--State Menu -->
            <state-menu></state-menu>
            <!--Transition Menu -->
            <transition-menu></transition-menu>
            <credits></credits>
        </aside>

    </div>

</div>