<container-item titlename="Produktionsregeln" extendable-raw="false">
    <form name="editproductionmenu">
        <div class="input-group"
             ng-class="states.menu.edit.state.name.length === 0 ||
             states.existsWithName(states.menu.edit.state.name,states.menu.edit.state.id)? 'has-error':''">
            <span class="input-group-addon">Regel:</span>
            <input class="form-control" id="production-input-left" maxlength="1"
                   show-focus="productions.menu.edit.production.left"
                   ng-model="productions.left"
                   ng-disabled="simulator.isInPlay">
            <input class="form-control" id="production-input-right" maxlength="2"
                   show-focus="productions.menu.edit.production.right"
                   ng-model="productions.right"
                   ng-disabled="simulator.isInPlay">
            <button class="btn" ng-click="productions.create(productions.left, productions.right)">
                    Hinzufügen
            </button>
        </div>
    </form>
</container-item>