<container-item titlename="Bearbeiten" extendable-raw="true">
    <form name="editAddNewMenu">

        <div class="input-group">
            <div class="input-group">

                <input ng-disabled="langSimulator.isInPlay" class="form-control" id="production-input-left" maxlength="10" ng-model="langProductionRules.menuLeft" ng-keypress="keypressCallback($event)">

                <span class="input-group-addon">&#11106;</span>
                <input ng-disabled="langSimulator.isInPlay" class="form-control" id="production-input-right" maxlength="2" ng-model="langProductionRules.menuRight" ng-keypress="keypressCallback($event)">

                <!-- Hover des Buttons fehlt -->
                <span class="input-group-addon btn" ng-click="langProductionRules.change.addEpsilonToRightSide(null, false)">
                    <span>ε</span>
                </span>
            </div>
        </div>

        <p></p>
        <div class="alert alert-danger" ng-show="!langProductionRules.change.checkLeftForLetter(langProductionRules.menuLeft)">
            Bitte nur non Terminal (Großbuchstabe) eingeben!
        </div>

        <p></p>
        <!--TODO: Checking of the right side only with terminal -->
        <div class="alert alert-danger" ng-show="!langProductionRules.change.checkRightForLetter(langProductionRules.menuRight)">
            Bitte nur ein Terminal (Kleinbuchstabe) oder dann ein non Terminal (Großbuchstabe) eingeben!
        </div>

        <button class="btn" ng-disabled="!langProductionRules.change.noErrorsInInput(langProductionRules.menuLeft, langProductionRules.menuRight)" ng-click="langProductionRules.create(langProductionRules.menuLeft, langProductionRules.menuRight)">
            Hinzufügen
        </button>
    </form>
    <p></p>

    <!-- Add and change in one tab for more clarity. -->

    <div class="input-group">
        <div class="input-group" ng-repeat="production in langProductionRules">
            <input ng-disabled="langSimulator.isInPlay" ng-change="langProductionRules.change.updateRule(production, true)" ng-model="production.left" class="form-control" id="production-input-left" maxlength="1">

            <span class="input-group-addon">&#11106;</span>

            <input ng-disabled="langSimulator.isInPlay" ng-change="langProductionRules.change.updateRule(production, false)" ng-model="production.right" class="form-control" id="production-input-right" maxlength="2">

            <!-- Hover des Buttons fehlt -->
            <span class="input-group-addon btn" ng-click="langProductionRules.change.addEpsilonToRightSide(production.id, true)">
                <span>ε</span>
            </span>

            <span class="input-group-addon btn btn-danger transbutton" ng-click="langProductionRules.removeWithId(production.id)">
                <span class="icon-times"></span>
            </span>

        </div>
    </div>

    <p></p>
    <div class="alert alert-danger" ng-show="!langProductionRules.change.checkUpdateLeft">
        Bitte nur non Terminal (Großbuchstabe) eingeben!
    </div>

    <p></p>
    <div class="alert alert-danger" ng-show="!langProductionRules.change.checkUpdateRight">
        Bitte nur ein Terminal (Kleinbuchstabe) oder dann ein non Terminal (Großbuchstabe) eingeben!
    </div>

    <p></p>
    <div class="input-group" ng-show="langProductionRules.change.showStartRuleDropdown">
        <span class="input-group-addon">Startregel:</span>
        <div uib-dropdown on-toggle="toggled(open)">
            <button type="button" class="menu-button dropbutton" uib-dropdown-toggle>
                {{langProductionRules.getStartRule().left}}
                <span ng-show="langProductionRules.getStartRule()">
                    &#11106;
                </span> {{langProductionRules.getStartRule().right}}
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="rule in langProductionRules">
                    <a ng-click="langProductionRules.changeStart(rule)">{{rule.left}} &#11106; {{rule.right}}</a>
                </li>
            </ul>
        </div>
    </div>

</container-item>
