<div class="lang-grammar">

    <div class="title">Grammatik</div>
    <div class="content">
        <div class="stf-element" uib-tooltip="Non Terminale (Variablen)" tooltip-placement="right">
            V = {
            <span ng-repeat="grammar in grammars track by $index">
                <span>
                    {{grammar.variable}}
                </span>
            </span>
                }
        </div>
        <div class="stf-element" uib-tooltip="Terminale (Alphabet)" tooltip-placement="right">
            &Sigma; = {
            <span ng-repeat="grammar in grammars track by $index">
                <span>
                    {{grammar.alphabet}}
                </span>
            </span>
                }
        </div>
        <div class="stf-element" uib-tooltip="Produktionen (Regeln)" tooltip-placement="right">
            P = {
            <span ng-repeat="production in productions track by $index">
                <span>
                    ( {{production.left}}
                </span>
                ->
                <span>
                        {{production.right}} )
                </span>
            </span>
                }
        </div>
        <div class="stf-element" uib-tooltip="Startvariable" tooltip-placement="right">
            S = {
            <span ng-repeat="grammar in grammars track by $index">
                <span>
                    {{grammar.startvariable}}
                </span>            </span>
                }
        </div>
    </div>
</div>