<div class="lang-derivation-sequence">

    <div class="title">Ableitungssequenz</div>
    <div class="content">
        <span>
            {{productions.getByNonTerminalId(productions.start).left}}
        </span>
        <span class="sequenceA">
        =>
        </span>
        <span ng-repeat="next in derivationsequence">
            <span>
                {{next.sequence}}
                <br>
                <span class="sequenceB" >
                    {{$last ? '' : '=>'}}
                </span>
            </span>
        </span>
    </div>
</div>
