<div class="lang-grammar">

    <div class="title">Grammatik</div>
    <div class="content">
        <div class="stf-element" uib-tooltip="Non Terminale (Variablen)" tooltip-placement="right">
            V = {
            <span ng-repeat="nonTerminal in langGrammar.nonTerminals">
                <span ng-class="{'lang-simulator-grammar': nonTerminal === langSimulator.animated.currentProduction.left}">
                    {{nonTerminal}}{{$last ? '' : ', '}}
                </span>
            </span>
            }
        </div>

        <div class="stf-element" uib-tooltip="Terminale (Alphabet)" tooltip-placement="right">
            &Sigma; = {
            <span ng-repeat="terminal in langGrammar.terminals">
                <span ng-class="{'lang-simulator-grammar': terminal === langSimulator.animated.currentTerminal}">
                    {{terminal}}{{$last ? '' : ', '}}
                </span>
            </span>
            }
        </div>

        <div class="stf-element" uib-tooltip="Produktionen (Regeln)" tooltip-placement="right">
            P = {
            <span ng-repeat="production in langProductionRules | orderBy:'left'">
                <span ng-class="{'lang-simulator-grammar': production === langSimulator.animated.currentProduction}"> ( {{production.left}} </span>
                &#11106;
            <span ng-class="{'lang-simulator-grammar': production === langSimulator.animated.currentProduction}"> {{production.right}} ) {{$last ? '' : ' , '}} </span>
            </span>
            }
        </div>

        <div class="stf-element" uib-tooltip="Startvariable" tooltip-placement="right">
            S<sub>0</sub> = {
            <span>
                    {{langProductionRules.getStartRule().left}}
                </span> }
        </div>
    </div>
</div>
