<div class="lang-grammar">

    <div class="title">Grammatik</div>
    <div class="content">
        <div class="stf-element" uib-tooltip="Non Terminale (Variablen)" tooltip-placement="right">
            V = {
            <span ng-repeat="nonTerminal in productions.nonTerminal">
                <span>
                    {{nonTerminal}}{{$last ? '' : ', '}}
                </span>
            </span>
            }
        </div>
        <div class="stf-element" uib-tooltip="Terminale (Alphabet)" tooltip-placement="right">
            &Sigma; = {
            <span ng-repeat="terminal in productions.terminal">
                <span>
                    {{terminal}}{{$last ? '' : ', '}}
                </span>
            </span>
            }
        </div>
        <div class="stf-element" uib-tooltip="Produktionen (Regeln)" tooltip-placement="right">
            P = {
            <span ng-repeat="production in productions.nonTerminalObject | orderBy:'left'">
                <span>
                    ( {{production.left}}
                </span> ->
            <span>
                    {{production.right}} ){{$last ? '' : ', '}}
                </span>
            </span>
            }
        </div>
        <div class="stf-element" uib-tooltip="Startvariable" tooltip-placement="right">
            S<sub>0</sub> = {
            <span>
                    {{productions.currentStartVariable}}
                </span> }
        </div>
    </div>
</div>
