<div class="full-wrapper">
    <div class="flex-item header">
        <app-menu>
            <languagename></languagename>
        </app-menu>
    </div>
    <div class="flex-item  inner-wrapper">
        
      <div class="main main-wrapper">
            <div class="main-item layout-item container-wrapper">
                <ownlangsvg></ownlangsvg>
            </div>
            <div class="main-bottom">
                <div class="main-bottom-item layout-item">
                    <langderivationsequence></langderivationsequence>
                </div>
                <div class="main-bottom-item layout-item">
                    <langgrammar></langgrammar>
                </div>
            </div>
        </div>
        <aside class="sidebar sidebar-1 container-item layout-item">
            <langsimulation></langsimulation>
            <langdevelop></langdevelop>
        </aside>
        <aside class="sidebar sidebar-2 container-item layout-item">
            <langaddnewmenu></langaddnewmenu>
            <langchangesmenu></langchangesmenu>
        </aside>

    </div>

</div>