<nav class="context-menu context-menu-normal">
    <ul class="context-menu__items">
        <li class="context-add-state"
            ng-click="addStateWithPresets(statediagram.contextMenuData.addStateX,statediagram.contextMenuData.addStateY) ; statediagram.contextMenu(null,true)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-plus-circle"></span>
                <span class="context-menu-text">Add State</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
    </ul>
</nav>

<nav class="context-menu context-menu-state">
    <ul class="context-menu__items">
        <li class="context-add-state"
            ng-click="removeState(statediagram.contextMenuData.stateId); statediagram.stateContextMenu(null,true)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">Remove State</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="changeStartState(statediagram.contextMenuData.stateId); statediagram.stateContextMenu(null,true)"
            ng-show="config.startState === statediagram.contextMenuData.stateId">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">Make as StartState</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="removeStartState(); statediagram.stateContextMenu(null,true)"
            ng-show="config.startState !== statediagram.contextMenuData.stateId">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">Remove as StartState</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="addFinalState(statediagram.contextMenuData.stateId); statediagram.stateContextMenu(null,true)"
            ng-show="!isStateAFinalState(statediagram.contextMenuData.stateId)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">Add to FinalStates</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="removeFinalState(statediagram.contextMenuData.stateId); statediagram.stateContextMenu(null,true)"
            ng-show="isStateAFinalState(statediagram.contextMenuData.stateId)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-minus-circle"></span>
                <span class="context-menu-text">Remove From FinalStates</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
        <li class="context-add-state"
            ng-click="statediagram.addTransition(statediagram.contextMenuData.stateId) ; statediagram.stateContextMenu(null,true)">
            <span class="context-menu__link">
                <span class="context-menu-icon icon icon-plus-circle"></span>
                <span class="context-menu-text">Add Transition</span>
                <span class="context-menu-shortcut"></span>
            </span>
        </li>
    </ul>
</nav>