//Layout Variables
$body-bg:#6B7C93;
$appNavHeight: 50px;
$menuWidthLeft: 300px;
$menuWidthRight: 300px;
$layoutMargin: 15px;
$layoutBorderColor: #D1D1D1;
$midItemBottomHeight: 230px;
$layout-item-bg: white;
$layout-item-border-color: #717171;

//svg diagram variables
//state Settings
$stateColor: #CCC;
$stateBorderWidth: 2;
$stateBorderColor: #666;
$stateFontSize: 15px;
$stateFontColor: #000;
//final state
$finalStateColor: #FFF;
$finalStateBorderColor: $stateBorderColor;
$finalStateBorderWidth: 2;
//Hover
$stateHoverColor: #000;
$stateColorHoverOpacity: 0.4;
$selectForAddTransitionColor: #F00;
//animated state for the simulation
$animatedCurrentStateColor: #ff7b00;
$animatedNextStateColor: #ff7b00;
//Transition Settings
$transitionColor: #000;
$transitionFontSize: 15px;
$transitionFontColor: #000;
$transitionWidth: 2.5;
$transitionHoverColor: #AAA;
$gridLine: #B3AEAE;
//animated transition
$animatedTransitionWidth: 2.5;
$animatedTransitionColor: #ff7b00;
$animatedTransitionFontColor: #ff7b00;
//animated accepted and not accepted color
$animatedAcceptedColor: #00ff7b;
$animatedNotAcceptedColor: #aa2200;
//selected
$selectedColor: #00b7ff;