@import 'bootstrap_variables';
//svg diagramm variables
//state Settings
$stateColor: #CCC;
$stateBorderWidth:2;
$stateBorderColor:#666;
$stateFontSize:15px;
$stateFontColor: #000;
//final state
$finalStateColor: #FFF;
$finalStateBorderColor: $stateBorderColor;
$finalStateBorderWidth:2;
//Hover
$stateHoverColor: #000;
$stateActiveColor: #F00;
$stateColorHoverOpacity:0.4;
$selectForAddTransitionColor:#F00;
//animated state for the simulation
$animatedCurrentStateColor:#ff7b00;
$animatedNextStateColor:#ff7b00;
//Transition Settings
$transitionColor: #000;
$transitionFontSize: 15px;
$transitionFontColor: #000;
$transitionWidth:2.5;
$transitionHoverColor:#AAA;
$transitionActiveColor:#ff7b00;
//animated transition
$animatedTransitionWidth:2.5;
$animatedTransitionColor:#ff7b00;
$animatedTransitionFontColor: #ff7b00;
//svg diagramm
.automataWrapper {
    border: 1px solid #000;
}
#stateDiagramm {}
#diagramm {
    border: 1px solid #000;
    width: 100%;
    height: 500px;
    min-width: auto;
    position: relative;
}
#diagramm-buttons {
    position: absolute;
    z-index: 5;
}
#diagramm-svg {
    width: 100%;
    height: 100%;
    min-width: auto;
    position: absolute;
}
#state-context {
    //display:none;
    padding: 5px;
    position: absolute;
    right: 0px;
    width: auto;
    height: 100%;
    background-color: #888;
}
//normal arrow
#marker-end-arrow {
    fill: #000;
}
#marker-end-arrow-hover {
    fill: $transitionHoverColor;
}
#marker-end-arrow-active {
    fill: $transitionActiveColor;
}
//animated arrow for the simulation
#marker-end-arrow-animated {
    fill: $animatedTransitionColor;
}
//grid
.grid-line {
    stroke: $transitionColor;
}
//states
.state {
    cursor: context-menu;
}
.state:hover {
    cursor: pointer;
}
.state:hover .hover-circle {
    fill: $stateHoverColor;
    fill-opacity: $stateColorHoverOpacity;
}
.active .state-circle {
    fill: $stateActiveColor;
}
.state-circle {
    fill: $stateColor;
    stroke: $stateBorderColor;
    stroke-width: $stateBorderWidth;
}
.final-state {
    fill: $finalStateColor;
    stroke: $finalStateBorderColor;
    stroke-width: $finalStateBorderWidth;
}
.state-text {
    font-size: $stateFontSize;
}
//animated state for the simulation
//svg
.animated-currentstate-svg .state-circle {
    fill: $animatedCurrentStateColor;
}
.animated-nextstate-svg .state-circle {
    fill: $animatedNextStateColor;
}
//others
.animated-currentstate {
    color:$animatedCurrentStateColor;
}
.animated-nextstate {
    color:$animatedNextStateColor;
}
.selectedForTransition {
}
.state-text:hover {}
.in-creation {
    opacity: 0.5;
}
//Transition
.transition {
    stroke: $transitionColor;
    cursor: context-menu;
}
.transition:hover {
    cursor: pointer;
}
.transition.active .transition-line {
    stroke: $transitionActiveColor;
}
.transition-line {
    stroke-width: $transitionWidth;
}
.transition-line-hover {
    stroke-width: $transitionWidth;
    stroke: $transitionHoverColor;
    fill: $transitionHoverColor;
    opacity: 0;
}
//transition line fill for the startline
.transition-line.start-line{
    stroke:$transitionColor;
}
//animated transition for the simulation
.animated-transition .transition-line {
    stroke: $animatedTransitionColor;
    stroke-width: $animatedTransitionWidth;
}
.animated-transition {
    color: $animatedTransitionColor;
}
.transition-text {
    font-size: 15px
}
//ECT
#hidden-file-upload {
    display: none;
}
//GRID
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/*******
*Layout*
*******/
$disabledColor: #AAA;
.top-nav {
    height: 50px;
    background-color: white;
}
.top-menu {
    padding: 0 0 0 200px;
    height: 30px;
    background-color: whitesmoke;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.th-koeln-logo img{
    position:absolute;
    top:0;
    right:0;
    height:50px;
}
//MENU
.left-menu {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: whitesmoke;
    border-right: 1px solid #e0e0e0;
}
.right-menu {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: whitesmoke;
    border-left: 1px solid #e0e0e0;
}
.menu-item {
    margin: 15px 0;
}
.menu-item .title, .title {
    padding: 5px;
    background-color: #cedde9;
}
.menu-button {
    background-color: transparent;
    border: 1px solid whitesmoke;
    margin: 5px 1px;
}
.menu-button:hover {
    border: 1px solid #e0e0e0;
}
.button-group {
    padding: 0 5px;
    float: left;
    border-right: 1px solid #e0e0e0;
}
.menu-item .content {
    padding: 5px;
}
.diagramm {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 80px;
    bottom: 150px;
}
.bot-content-wrapper {
    position: absolute;
    background-color: whitesmoke;
    right: 200px;
    left: 200px;
    bottom: 0px;
    border-top: 1px solid #e0e0e0;
}
.bot-content {
    padding: 10px 10px 0 10px;
    height: 250px;
    overflow-y: scroll;
}
.bot-left {
    float: left;
    width: 50%;
    border-right: 1px solid #e0e0e0;
}
.bot-right {
    width: 50%;
    float: right;
}
button:disabled .glyphicon{
    color:$disabledColor;
}