<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="vm.cancel()">&times;</button>
    <h3 class="modal-title" id="modal-title">Fehler</h3>
</div>
<div class="modal-body" id="modal-body">
    <!-- <div class="lesys-selection">
            <span class="lesys-select" ng-repeat="language in vm.languages"
                  ng-class="{'selected':language===vm.selected}" ng-click="vm.selectLanguage(language)">
            {{language}}
        </span>
    </div> -->
    <!-- <form>
        <div id="{{language}}-select" ng-repeat="language in vm.languages" ng-if="vm.selected === language" >
            <label for="translation-name">Name</label>

            <div class="input-group">
                <input type="text" class="form-control" id="translation-name" placeholder="Name"
                       ng-model="vm.section.name[language]">
                <span class="input-group-addon">{{language}}</span>
            </div>
            <label for="translation-description">Description</label>

            <div class="input-group">

                <textarea class="form-control" id="translation-description" placeholder="Description"
                          ng-model="vm.section.description[language]"></textarea>
                <span class="input-group-addon">{{language}}</span>

            </div>
        </div>
    </form> -->
    {{"TM.OUT_OF_BOUNDS" | translate}}

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
