#diagram-lang-svg {
  width: 100%;
  height: 100%;
  min-width: auto;
}

#diagram-lang-svg {
  -ms-flex: auto;
      flex: auto;
}

.production {
  cursor: context-menu;
}

.production:hover {
  cursor: pointer;
}

.lang-circle {
  fill: #FFF;
  fill-opacity: 0.6;
}

.lang-derivation-sequence .content {
    padding: 8px;
}

.lang-derivation-sequence .sequenceA {
    padding-left: 1em;
    padding-right: 1em;
}

.lang-derivation-sequence .sequenceB {
    padding-left: 2em;
    padding-right: 1em;
}

.production-text {
    font-size: 25px;
}

#lang-marker-arrow {
  fill: #000;
}

#lang-marker-arrow-animated {
  fill: #ff7b00;
}

.lang-transition-line {
  stroke-width: 1.5;
}

.lang-simulator-derivationtree .production-text {
    fill: #ff7b00;
}

.lang-simulator-grammar {
    color: #ff7b00;
}

.lang-simulator-derivationsequence {
    color: #ff7b00;
}

.lang-simulator-transition {
    stroke: #ff7b00;
}
